@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0eeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 34px;
  color: #3a8660;
}

header h2 {
  font-size: 34px;
  color: #ffffff;
}

p {
  text-indent: 20px;
}

/* INDEX */
.index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 34px;
    color: #000000;
    margin: 0px 0px;
  }
  h2 {
    color: #0e8349;
    font-size: 20px;
    margin: 16px 0px;
  }
  img {
    width: 200px;
    margin-top: 50px;
  }
}

.foto {
  height: 300px;
  border-radius: 25%;
  box-shadow: #2e2e2e;
}

header {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
  margin-left: 14px;
  width: auto;

  animation: giro-vertical 2s linear;
  transform-style: preserve-3d;
}

@keyframes giro-vertical {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

header h1 {
  margin: 0;
  font-size: 32px;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  width: auto;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border: #115e37 2px solid;
  border-radius: 10%;
  padding: 6px;
  margin: 0px 8px 6px 8px;
  white-space: nowrap;
  display: inline-block;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  background-color: #3a8660;
  margin-bottom: 16px;
  position: sticky;
  padding: 0px 20px;
  top: 0px;
}

.sticky {
  position: sticky;
  top: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 8vw;
  margin-bottom: 20px;
  flex: 1;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #3a8660;
  color: white;
  bottom: 1px;
}

/* ACERCA DE MI*/

.acercade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 30px 4px 4px;
  max-height: 300px;
  overflow-y: auto;
  align-self: center;
  border-radius: 20px;
}

article {
  h2 {
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: #3a8660;
    padding: 10px;
    border-radius: 14px;
    opacity: 90%;
  }
}

.acercade-contenedor {
  margin-top: 120px;
  text-align: justify;
  font-size: 18px;
  max-height: 380px;
}

/* Scroll para firefox*/
.acercade {
  scrollbar-width: thin;
  scrollbar-color: #3a8660 #ffffff;
}

.acercade-contenedor-cv {
  align-self: center;
}

.overflow {
  overflow-y: auto;
  max-height: 400px;
  overflow: hidden;
}

.acercade-cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 18px;
  h1 {
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: #3a8660;
    margin: 24px 0px 10px 0px;
    padding: 10px;
    border-radius: 14px;
    opacity: 90%;
  }
  button {
    background-color: #e7e7e7;
    color: #188a51;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: solid 2px #188a51;
    cursor: pointer;
    margin-top: 2px;
  }
}

.presentacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  h1 {
    font-size: 34px;
    color: #000000;
    margin: 0px 0px;
  }

  h3 {
    color: #0e8349;
    font-size: 20px;
    margin: 6px 0px;
  }
  .foto-presentacion {
    width: 160px;
  }
}

.presentacion-titulo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 400px;
  p {
    text-indent: 0px;
    text-align: justify;
  }
}

.acercade::-webkit-scrollbar {
  width: 8px;
}

.acercade::-webkit-scrollbar-track {
  background: #ffffff;
}

.acercade::-webkit-scrollbar-thumb {
  background-color: #3a8660;
  border-radius: 6px;
}

#formulario {
  width: auto;
  margin: 20px 0px 20px 0px;
  font-family: Arial, sans-serif;
  padding: 24px;

  background: #fafafa;
  border: 2px solid #dcdcdc;
  border-radius: 12px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-dato {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.form-dato label {
  width: 150px;
  font-weight: bold;
}
.form-dato input,
.form-dato datalist {
  flex: 1;
  padding: 5px;
}

.radios {
  flex-direction: column;
  align-items: flex-start;
}

.titulo-radio {
  width: 300px;
  margin-bottom: 20px;
}

.radio-grupo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.radio-grupo label {
  width: auto;
  font-weight: normal;
}

input[type="submit"] {
  background: #3a8660;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #afafaf;
  border-bottom: 2px solid #afafaf;
  margin: 20px 0px 20px 0px;
  font-size: 16px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table th {
  background-color: #3a8660;
  color: white;
  text-align: left;
  padding: 12px;
  font-weight: bold;
}

table td {
  padding: 12px;
  border-bottom: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
}

#btnArriba {
  position: fixed;
  bottom: 100px;
  right: 20px;
  padding: 10px 20px 16px 20px; 
  font-size: 22px;
  border: none;
  border-radius: 50%;
  background-color: #3a8660;
  color: white;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  opacity: 90%;
}

#btnArriba:hover {
  background-color: #1b5e20;
}

/* CSS del juego */

.titulo-juego {
  font-size: 36px;
  color: #3a8660;
}

.tablero {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

.carta {
  background: #2e2e2e;
  border-radius: 10px;
  cursor: pointer;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  transition: 0.3s;
}

.carta.revelada {
  background: #2196f3;
  color: white;
}

.carta.acertada {
  background: #4fb482;
  cursor: default;
}

#ganador {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.oculto {
  display: none;
}

#ganador .card {
  background: #ffffff;
  color: #000;
  padding: 25px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

#ganador button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #4caf50;
  color: white;
  font-size: 16px;
}
